%section#login-panel
  %h1 ログイン
  - if flash[:alert].present?
    .alert.alert-danger{role: "alert"}
      = flash[:alert]

  = form_for @user, url: sessions_path, class: "form-horizontal" do |f|
    .form-group
      = f.email_field :email, class: "form-control", placeholder: "メールアドレス"

    .form-group
      = f.password_field :password, class: "form-control", placeholder: "パスワード"

    .form-group
      = f.submit "ログイン", class: "btn btn-block btn-lg btn-primary"

  %p
    = link_to "アカウントをお持ちでない方", sign_up_path

  %hr

  %ul
    %li
      = link_to auth_at_provider_path(provider: :facebook), class: "btn btn-block btn-lg btn-facebook" do
        %span.fui-facebook
        Facebook でログインする
    -#%li
      = link_to auth_at_provider_path(provider: :twitter), class: "btn btn-block btn-lg btn-twitter" do
        %span.fui-twitter
        Twitter でログインする
    -#%li
      = link_to auth_at_provider_path(provider: :github), class: "btn btn-block btn-lg btn-github" do
        %span.fui-github
        GitHub でログインする
